body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 50px;
}

#grid {
    width: 600px;
    height: 600px;
    display: grid;
    border: solid;
}

.cell {
    border: solid;
    border-width: 1px;
}

#reset {
    background-color: rgb(156, 39, 39);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    padding: 4px 16px;
}

#reset:hover{
    background-color: rgba(156, 39, 39, 0.3);
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 30px;
}

.slider {
    width: 200px;
}